block config
  -
    var pages = {
      index3: {
        title: 'TOPページタイトル',
        description: 'TOPページdescription',
      },
      index4: {
        title: 'サブページタイトル',
        description: 'サブページdescription',
      },
    }
