//- ECフッター
footer.bg-primary.mt-xl.pt-m.sp-pt-s
  .flex.jc-c.mb-m.sp-mb-sm
    p ロゴ
  ul.flex.jc-sb.w-60p.mr-a.ml-a.sp-w-100p.sp-fd-c.ta-c
    li.mb-s
      a.hov-o.fz-sm.d-color-wt(href='#') メニュー1
    li.mb-s
      a.hov-o.fz-sm.d-color-wt(href='#') メニュー2
    li.mb-s
      a.hov-o.fz-sm.d-color-wt(href='#') メニュー3
    li.mb-s
      a.hov-o.fz-sm.d-color-wt(href='#') メニュー4
    li.mb-s
      a.hov-o.fz-sm.d-color-wt(href='#') メニュー5
  .ta-c.pb-s.pt-s
    small &copy;copyright
//- ECフッター2
footer.bg-primary.mt-xl.bg-primary.pt-m.sp-pt-s
  ul.flex.jc-sb.color-bk.d-color-wt.w-90p.mr-a.ml-a.sp-w-90p.sp-fd-c.tl.pb-l.sp-pb-sm
    li.w-22p.sp-w-100p.sp-ta-c.sp-mb-m
      p
        a(href='#')
          img(src= alt='ロゴ')
      p.fz-s.lh1-2.mt-sm
        | 〒001-0001
        br
        | ここには住所がはいります
      p.fz-s.mt-xs.hov-o
        a.fz-s.d-color-wt(href='tel:0120-00-0000') TEL:0120-00-0000
      ul.flex.jc-sb.w-30p.mt-s.sp-mr-a.sp-ml-a.sp-mt-m
        li.mr-xs
          img(src= alt='sns')
        li.mr-xs
          img(src= alt='sns')
        li
          img(src= alt='sns')
    li.w-15p.sp-w-100p.sp-mb-m
      ul.fz-s.lh2-2.sp-ta-c
        li.hov-o
          a.fz-sm.d-color-wt(href='#') メニュー
        li.hov-o
          a.fz-sm.d-color-wt(href='#') メニュー
        li.hov-o
          a.fz-sm.d-color-wt(href='#') メニュー
        li.hov-o
          a.fz-sm.d-color-wt(href='#') メニュー
        li.hov-o
          a.fz-sm.d-color-wt(href='#') メニュー
        li.hov-o
          a.fz-sm.d-color-wt(href='#') メニュー
    li.w-12p.sp-w-100p.sp-mb-m
      ul.fz-s.lh2-2.sp-ta-c
        li.hov-o
          a.fz-sm.d-color-wt(href='#') メニュー
        li.hov-o
          a.fz-sm.d-color-wt(href='#') メニュー
        li.hov-o
          a.fz-sm.d-color-wt(href='#') メニュー
        li.hov-o
          a.fz-sm.d-color-wt(href='#') メニュー
        li.hov-o
          a.fz-sm.d-color-wt(href='#') メニュー
        li.hov-o
          a.fz-sm.d-color-wt(href='#') メニュー
        li.hov-o
          a.fz-sm.d-color-wt(href='#') メニュー
    li.w-12p.sp-w-100p.sp-mb-m
      ul.fz-s.lh2-2.sp-ta-c
        li.hov-o
          a.fz-sm.d-color-wt(href='#') メニュー
        li.hov-o
          a.fz-sm.d-color-wt(href='#') メニュー
        li.hov-o
          a.fz-sm.d-color-wt(href='#') メニュー
        li.hov-o
          a.fz-sm.d-color-wt(href='#') メニュー
        li.hov-o
          a.fz-sm.d-color-wt(href='#') メニュー
    li.w-12p.sp-w-100p
      ul.fz-s.lh2-2.sp-ta-c
        li.hov-o
          a.fz-sm.d-color-wt(href='#') メニュー
        li.hov-o
          a.fz-sm.d-color-wt(href='#') メニュー
        li.hov-o
          a.fz-sm.d-color-wt(href='#') メニュー
        li.hov-o
          a.fz-sm.d-color-wt(href='#') メニュー
        li.hov-o
          a.fz-sm.d-color-wt(href='#') メニュー
  .ta-c.pb-s.pt-s
    small.fz-s.d-color-wt &copy;copyright
//- LPフッター
footer.bg-wt.d-bg-bk.mt-xl.sp-mt-sm.pt-m.sp-pt-s
  ul.flex.fd-c.jc-sb.color-bk.d-color-wt.w-100p.sp-fd-c.ta-c.fz-l
    li
      a.color-bk.d-color-wt.hov-o.pt-sm.pb-sm.sp-pt-s.sp-pb-s.d-b.bd-t-w-1(href='#') 会社概要
    li
      a.color-bk.d-color-wt.hov-o.pt-sm.pb-sm.sp-pt-s.sp-pb-s.d-b.bd-t-w-1(href='#') 特定商取引法に基づく表記
    li
      a.color-bk.d-color-wt.hov-o.pt-sm.pb-sm.sp-pt-s.sp-pb-s.d-b.bd-t-w-1(href='#') プライバシーポリシー
  .bg-primary.ta-c.pb-xs.pt-xs.fz-m
    small.fz-s.ls-s.d-color-wt Copyrights &copy; xxxx All Rights reserved.
