@use "../global" as *;
/* ===================================================================

reset style

=================================================================== */
* {
  margin: 0;
  padding: 0;
  line-height: calc(0.25rem + 1em + 0.25rem);
  letter-spacing: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  border: 0;
}
*,
::before,
::after {
  box-sizing: border-box;
}
html {
  /* アプリケーションでパーセントによる高さを許可する  */
  block-size: 100%;
  /* テキストのサイズはfont-sizeのみで制御されるようにする */
  -webkit-text-size-adjust: none;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: color(bk);
}
a:hover {
  text-decoration: none;
}
img {
  vertical-align: bottom;
  max-width: 100%;
  height: auto;
}
select,
input,
textarea,
button {
  vertical-align: middle;
  background-color: transparent;
  outline: 0px;
  color: color(bk);
}
select,
input,
textarea {
  border: 1px solid color(bk);
}
