@use "../global" as *;

/* ===================================================================

transform style

=================================================================== */

.tf-c {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
