<%# ECfooter 1 %>
<footer class="bg-primary mt-xl pt-m sp-pt-s">
  <div class="flex jc-c mb-m sp-mb-sm">
    <p>ロゴ</p>
  </div>
  <ul class="flex jc-sb w-60p mr-a ml-a sp-w-100p sp-fd-c ta-c">
    <li class="mb-s">
      <a href="#" class="hov-o fz-sm d-color-wt">メニュー1</a>
    </li>
    <li class="mb-s">
      <a href="#" class="hov-o fz-sm d-color-wt">メニュー2</a>
    </li>
    <li class="mb-s">
      <a href="#" class="hov-o fz-sm d-color-wt">メニュー3</a>
    </li>
    <li class="mb-s">
      <a href="#" class="hov-o fz-sm d-color-wt">メニュー4</a>
    </li>
    <li class="mb-s">
      <a href="#" class="hov-o fz-sm d-color-wt">メニュー5</a>
    </li>
  </ul>
  <div class="ta-c pb-s pt-s">
    <small>&copy;copyright</small>
  </div>
</footer>
<%# ECfooter 2 %>
<footer class="bg-primary mt-xl bg-primary pt-m sp-pt-s">
  <ul class="flex jc-sb color-bk d-color-wt w-90p mr-a ml-a sp-w-90p sp-fd-c tl pb-l sp-pb-sm">
    <li class="w-22p sp-w-100p sp-ta-c sp-mb-m">
      <p>
        <a href="#"><img alt="ロゴ" /></a>
      </p>
      <p class="fz-s lh1-2 mt-sm">
        〒001-0001<br />
        ここには住所がはいります
      </p>
      <p class="fz-s mt-xs hov-o">
        <a href="tel:0120-00-0000" class="fz-s d-color-wt">TEL:0120-00-0000</a>
      </p>
      <ul class="flex jc-sb w-30p mt-s sp-mr-a sp-ml-a sp-mt-m">
        <li class="mr-xs"><img alt="sns" /></li>
        <li class="mr-xs"><img alt="sns" /></li>
        <li><img alt="sns" /></li>
      </ul>
    </li>
    <li class="w-15p sp-w-100p sp-mb-m">
      <ul class="fz-s lh2-2 sp-ta-c">
        <li class="hov-o"><a href="#" class="fz-sm d-color-wt">メニュー</a></li>
        <li class="hov-o"><a href="#" class="fz-sm d-color-wt">メニュー</a></li>
        <li class="hov-o"><a href="#" class="fz-sm d-color-wt">メニュー</a></li>
        <li class="hov-o"><a href="#" class="fz-sm d-color-wt">メニュー</a></li>
        <li class="hov-o"><a href="#" class="fz-sm d-color-wt">メニュー</a></li>
        <li class="hov-o"><a href="#" class="fz-sm d-color-wt">メニュー</a></li>
      </ul>
    </li>
    <li class="w-12p sp-w-100p sp-mb-m">
      <ul class="fz-s lh2-2 sp-ta-c">
        <li class="hov-o"><a href="#" class="fz-sm d-color-wt">メニュー</a></li>
        <li class="hov-o"><a href="#" class="fz-sm d-color-wt">メニュー</a></li>
        <li class="hov-o"><a href="#" class="fz-sm d-color-wt">メニュー</a></li>
        <li class="hov-o"><a href="#" class="fz-sm d-color-wt">メニュー</a></li>
        <li class="hov-o"><a href="#" class="fz-sm d-color-wt">メニュー</a></li>
        <li class="hov-o"><a href="#" class="fz-sm d-color-wt">メニュー</a></li>
        <li class="hov-o"><a href="#" class="fz-sm d-color-wt">メニュー</a></li>
      </ul>
    </li>
    <li class="w-12p sp-w-100p sp-mb-m">
      <ul class="fz-s lh2-2 sp-ta-c">
        <li class="hov-o"><a href="#" class="fz-sm d-color-wt">メニュー</a></li>
        <li class="hov-o"><a href="#" class="fz-sm d-color-wt">メニュー</a></li>
        <li class="hov-o"><a href="#" class="fz-sm d-color-wt">メニュー</a></li>
        <li class="hov-o"><a href="#" class="fz-sm d-color-wt">メニュー</a></li>
        <li class="hov-o"><a href="#" class="fz-sm d-color-wt">メニュー</a></li>
      </ul>
    </li>
    <li class="w-12p sp-w-100p">
      <ul class="fz-s lh2-2 sp-ta-c">
        <li class="hov-o"><a href="#" class="fz-sm d-color-wt">メニュー</a></li>
        <li class="hov-o"><a href="#" class="fz-sm d-color-wt">メニュー</a></li>
        <li class="hov-o"><a href="#" class="fz-sm d-color-wt">メニュー</a></li>
        <li class="hov-o"><a href="#" class="fz-sm d-color-wt">メニュー</a></li>
        <li class="hov-o"><a href="#" class="fz-sm d-color-wt">メニュー</a></li>
      </ul>
    </li>
  </ul>
  <div class="ta-c pb-s pt-s">
    <small class="fz-s d-color-wt">&copy;copyright</small>
  </div>
</footer>
<%# LPfooter 1 %>
<footer class="bg-wt d-bg-bk mt-xl sp-mt-sm pt-m sp-pt-s">
  <ul class="flex fd-c jc-sb color-bk d-color-wt w-100p sp-fd-c ta-c fz-l">
    <li>
      <a href="#" class="color-bk d-color-wt hov-o pt-sm pb-sm sp-pt-s sp-pb-s d-b bd-t-w-1">会社概要</a>
    </li>
    <li>
      <a href="#" class="color-bk d-color-wt hov-o pt-sm pb-sm sp-pt-s sp-pb-s d-b bd-t-w-1">特定商取引法に基づく表記</a>
    </li>
    <li>
      <a href="#" class="color-bk d-color-wt hov-o pt-sm pb-sm sp-pt-s sp-pb-s d-b bd-t-w-1">プライバシーポリシー</a>
    </li>
  </ul>
  <div class="bg-primary ta-c pb-xs pt-xs fz-m">
    <small class="fz-s ls-s d-color-wt">Copyrights &copy; xxxx All Rights reserved.</small>
  </div>
</footer>
