<%# PC用header %>
<div class="is-pc-tb">
  <header class="header bg-primary flex jc-sb ai-c pr-3p pl-3p">
    <div class="w-20p ta-l">
      <p>
        <a href="#"><img alt="ロゴ" /></a>
      </p>
    </div>
    <nav>
      <ul class="flex jc-fe">
        <li class="mr-sm"><a href="#" class="hov-o fz-sm d-color-wt">メニュー1</a></li>
        <li class="mr-sm"><a href="#" class="hov-o fz-sm d-color-wt">メニュー2</a></li>
        <li class="mr-sm"><a href="#" class="hov-o fz-sm d-color-wt">メニュー3</a></li>
        <li class="mr-sm"><a href="#" class="hov-o fz-sm d-color-wt">メニュー4</a></li>
        <li><a href="#" class="hov-o fz-sm d-color-wt">メニュー5</a></li>
      </ul>
    </nav>
  </header>
</div>
<%# SP用header %>
<div class="is-sp">
  <header class="header bg-primary flex jc-sb ai-c pr-3p pl-3p">
    <div class="w-20p ta-l">
      <p>ロゴ</p>
    </div>
    <button class="c-globalmenu-button js-globalMenuButton" aria-label="サイトマップを開く" aria-expanded="false" aria-controls="globalmenu">
      <span class="p-globalmenu-bar p-globalmenu-bar--1 js-bar1"></span>
      <span class="p-globalmenu-bar p-globalmenu-bar--2 js-bar2"></span>
      <span class="p-globalmenu-bar p-globalmenu-bar--3 js-bar3"></span>
    </button>
    <aside class="c-globalmenu-inner js-globalmenuInner" aria-hidden="true" id="globalmenu">
      <nav class="p-globalmenu-navigation js-globalmenuNavigation">
        <ul class="p-globalmenu-list">
          <li class="p-globalmenu-item"><a href="" class="p-globalmenu-anchor js-globalmenuAnchor" tabindex="-1">メニュー1</a></li>
          <li class="p-globalmenu-item"><a href="" class="p-globalmenu-anchor js-globalmenuAnchor" tabindex="-1">メニュー2</a></li>
          <li class="p-globalmenu-item"><a href="" class="p-globalmenu-anchor js-globalmenuAnchor" tabindex="-1">メニュー3</a></li>
          <li class="p-globalmenu-item"><a href="" class="p-globalmenu-anchor js-globalmenuAnchor" tabindex="-1">メニュー4</a></li>
          <li class="p-globalmenu-item"><a href="" class="p-globalmenu-anchor js-globalmenuAnchor" tabindex="-1">メニュー5</a></li>
          <li class="p-globalmenu-item"><a href="" class="p-globalmenu-anchor js-globalmenuAnchor js-focusReset" tabindex="-1"></a></li>
        </ul>
      </nav>
    </aside>
  </header>
</div>
