<!DOCTYPE html>
<html lang="ja">
<%- include('components/head.ejs', { title:"top" ,description:"説明文"}) %>

<body>
  <div id="wrap">
    <%- include('components/header.ejs') %>
    <main>

    </main>
    <%- include('components/footer.ejs') %>
  </div>
  <%- include('components/script.ejs') %>
</body>

</html>