<!DOCTYPE html>
<html lang="ja">
<%- include('components/head.ejs', { title:"top2",description:"èª¬æ˜æ–‡" }) %>

<body>
  <div id="wrap">
    <%- include('components/header.ejs') %>
    <main>
      2da
    </main>
    <%- include('components/footer.ejs') %>
  </div>
  <%- include('components/script.ejs') %>
</body>

</html>